.photo-grid {
    width: 92.5%;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 16px;
    margin: auto;
    padding-top: 92px;
}

@media screen and (max-width: 1120px) {
    .photo-grid {
        width: 91%;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-gap: 14px;
    }
}

@media screen and (max-width: 960px) {
    .photo-grid {
        width: 94%;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-gap: 16px;
        padding-top: 85px;
    }
}

@media screen and (max-width: 540px) {
    .photo-grid {
        width: 90%;
        grid-template-columns: minmax(250px, 1fr);
        grid-gap: 12px;
        padding-top: 66px;
    }
}