.place__paragraphs {
    grid-area: text;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (max-width: 960px) {
    .place__paragraphs {
        font-size: 18px;
        line-height: 163%;
    }
}

@media screen and (max-width: 600px) {
    .place__paragraphs {
        margin-top: 32px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraphs {
        margin: 32px 16px 0;
    }
}