.place__tittle {
    grid-area: title;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 460px;
    margin: 0;
    color: #FFFFFF;
}

@media screen and (max-width: 960px) {
    .place__tittle {
        max-width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 320px) {
    .place__tittle {
        margin: 0 16px 32px;
        font-size: 32px;
        line-height: 35px;
    }
}