.lead__caption {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    align-self: flex-start;
    margin: 8px 0 0 0;
    color: #FFFFFF;
}

@media screen and (max-width: 960px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 540px) {
    .lead__caption {
        margin-left: 16px;
    }
}