.lead__tittle {
    font-weight: 900;
    font-size: 96px;
    text-align: center;
    max-width: 720px;
    margin: 0;
    line-height: 100px;
    color: #ffffff;
}

@media screen and (max-width: 750px) {
    .lead__tittle {
        font-size: 80px;
        max-width: 90%;
    }
}

@media screen and (max-width: 640px) {
    .lead__tittle {
        font-size: 60px;
    }
}

@media screen and (max-width: 470px) {
    .lead__tittle {
        line-height: 50px;
        font-size: 45px;
    }
}

@media screen and (max-width:350px) {
    .lead__tittle {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}