.cover__tittle {
    margin: auto;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 510px;
    text-align: center;
    z-index: 2;
}

@media screen and (max-width: 540px) {
    .cover__tittle {
        max-width: 255px;
        font-size: 32px;
        line-height: 35px;
    }
}